<% for column in ExtractParam.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @extract_param.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @extract_param %> |
<%= link_to 'Back', :action => 'list' %>
