
<fieldset>


<input type="checkbox" name="MSClusterOn" value="1" disabled> Enable MSClustering Filter (disabled until further notice)<BR><BR>

<% fields_for :mscluster do |mscluster| %>


<% end %>


</fieldset>


