<BR>
  <UL>
    <% if @files.empty? -%>
    <LI><B>No Files Found</B></LI>
    <% else -%>
      <% for file in @files -%>
      
        <INPUT type="checkbox" name="rawfile[]" 
          value="<%= "#{@lims_path}#{file.attachment.url}" -%>"  
          checked />
        <%= file.name %> <BR>
        </li>
      <% end -%>
    <% end -%>
</UL>

