<HTML>
<HEAD>
 <title><%= @page_title %></title>
  <%= stylesheet_link_tag 'scaffold' %>
 <%= javascript_include_tag :defaults %>
   <%= javascript_include_tag "loadimage" %>  
</HEAD>
<BODY>
<PRE>
<%= h(@contents) %>
</PRE>
</BODY>
</HTML>